p {
    font-size: 20px;
    text-align: justify;
    padding: 0px 30px;
}

.about-portrait {
    width: 260px;
    height: 260px;
    object-fit: cover;
    border-radius: 150px;
    display: block;
    margin: auto;
    margin-top: 30px;

}