p {
    font-size: 20px;
    text-align: justify;
    padding: 0px 30px;
    color: rgb(74, 52, 34);   
}

.about-grid {
    display:grid;
    grid-template-columns: auto auto;
    align-items: center;

}

.about-text {
    padding: 0 30px;
    color: rgb(250, 236, 193); /* Text color */ 
}

.portrait-continer {
    
}

.about-portrait {
    aspect-ratio: 2/3;
    height: 600px;
    object-fit: cover;
    border-radius: 10px;
    margin: 0 30px;
    transition: opacity 0.6s ease-in-out; /* Fading effect duration */
}