.games-container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    color: rgb(84, 62, 44);
}

@media (max-width: 900px) {
    .games-container {
        grid-template-columns: 1fr 1fr 1fr;
        color: rgb(84, 62, 44);
    }
}

.game {
    width: 200px;
    padding: 4px;
}

.games-subtitle {
    text-align: center;
    margin: auto;
    margin-top: -30px;
    margin-bottom: 20px;
    max-width: 900px; 
    color: rgb(84, 62, 44); /* Text color */  
}

.game-image {
    width: 200px;
    height: 300px;
    border-radius: 8px;
    object-fit: cover;
    transition: scale 0.5s;
}

.game-image:hover {
    scale: 1.05;
    transition: scale 0.5s;
    cursor: pointer;
}

.game-text {
    font-size: 14px;
    color: rgb(84, 62, 44);
    margin-top: 1px;
    text-align: center;
    font-weight: 500;
    font-style: italic;
    text-wrap: nowrap;
}

.mrbunny-title {
    text-align: center;
}

.mrbunny-widget {
    text-align: center;
}