html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Jost', sans-serif;
}

main{
    padding-top: 100px;
}

.demoreel-title,
.games-title,
.tools-title,
.about-title,
.contact-title {
    text-align: center;
    font-size: 50px;
}

.home-container,
.demoreel-container,
.games-container,
.tools-container,
.about-container,
.contact-container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

.home-background {
    scroll-margin-top: 150px;
}

.demoreel-background {
    background-color: rgb(165, 165, 141);
    padding-bottom: 100px;
    scroll-margin-top: 100px;
}
.games-background {
    scroll-margin-top: 150px;
}
.tools-background {
    background-color: rgb(183, 183, 164);
    scroll-margin-top: 150px;
}

.about-background {
    scroll-margin-top: 100px;
}
.contact-background {
    background-color: rgb(165, 165, 141);
    scroll-margin-top: 100px;
}


a {
    text-decoration: none; /* remove underline */
    color: inherit; /* inherit color from parent */
}