.tools-title {
    padding-top: 30px;
    padding-bottom: 0;
    color: rgb(230, 216, 173); /* Text color */
}

.tools-subtitle {
    margin-top: -30px;
}

.tools-grid {
    display:grid;
    grid-template-rows: 1fr;
    margin-bottom: 70px;

}

.tool {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;

}

.tool-preview {
    width: 320px;
    max-height: 260px;
    object-fit: cover;
    border-radius: 10px
}

.tool-title {
    font-size: 22px;
    font-weight: 700;
    margin: 4px;
    color: rgb(230, 216, 173); /* Text color */
}

.tool-description {
    margin: 4px;
    color: rgb(74, 52, 34);
}

.tool-link {
    display: flex;
    justify-content: center;
    color: rgb(250, 193, 8);
}
